.appart_page {
    color: #ff6060;
 
    h1{
        font-weight: 400;
        margin-top: 1em;
        margin-bottom: 0;
    }
    h2 {
        font-weight: 400;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
        font-size: 20px;

    }
    
    .description_group {
        display: flex;
        gap: 1rem;
        overflow: hidden;

        @media screen and (max-width:768px) {
            flex-direction: column;
        }
    }
    
}