.appart_page {
    color: #ff6060;
    div:first-child {
        margin-bottom: 1rem;
    }
    h1{
        font-weight: 400;
        margin-top: 1em;
        margin-bottom: 0;
    }
    h2 {
        font-weight: 400;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
        font-size: 20px;

    }
    img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        border-radius:  1rem;
        box-shadow: rgb (149 157 165 / 20%) 0px 8px 24px;

    }
    .appart_page_head {
        display: flex;
        .appart_page_title {
            flex-grow: 1;
        }
     
        h3 {
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-block: 0;
            font-weight: 400;
        }
        h1 {
            margin-block: 0;
        }
        .owner{
            .owner_details{
                display: flex;
                gap: 0.5rem;
            }
            .owner_profil {
                height:40px;
                width: 40px;
                border-radius: 50%;
                background-color: lightgray;
            }
            .owner_stars{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.2rem;
                * {
                    font-size: 2rem;
                }
                .mode_on{
                    color: #ff6060;
                }
                .mode_off{
                    color: lightgray;
                }

            }
        }
    }
    & .appart_tags {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
        gap: 1rem;
        span {
            background-color: #ff6060;
            color: rgb(117, 51, 51);
            padding: 0.3em 0.5em;
            border-radius: 0.7rem;
            text-align: center;
        }
        

    }
    
}