.display {
    background-color: lightgray;
    min-height: 50vh;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 2.5rem;
    
    justify-content: space-evenly;
    & > * {
        width: 100%;
        max-width: 21rem;
    }

}

@media screen and (max-width: 768px) {
    .display {
        justify-content: center;
        background-color:white ;
        padding: 0;
    }
    
}

