
.img__banner {
  position: relative;
  background-position: center;
    background-size: cover;
  margin-bottom: 2rem;
  padding-inline: 2rem;
  background-image: url("https://s3-alpha-sig.figma.com/img/4706/e7dd/e270fc8fc902a1eb738458e7b29c1899?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=S60wZfFk9mCVVJRsLwwc0SvplPcsJxBrHaYrRvLjtEOdjAXc8xZXD3oxilMmQX4IBnbUnnZy1uuiW6b6aNn907dXEs9YazQz-AnjnKRBz~BDBTm8CkTcWVzvjXPYnMZ-k1hUUPqbcWkgV-4~MvX3QnC-tQLcB3sO0-nbu3sAfnZHsG37QNslMVhczuUcMZk7EXnJCOX-f3xJ~NsxaWG5Yy1XAuKHcCmddZ8yXyF3t7PvdzZKIHO6UPxHuFY7T7P5-0JE6pGK64qYAnELRdFj3kXhs2lifWlmNelbFaXJDfB7l0zxoo9jXUVJF9r-bWWQt2OVeklIPdZ5rGesn7aPSQ__");
  min-height: 140px;
  margin: auto;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  color: white;
  max-width: 100%;
  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 2rem;
  }
}